html{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
}
.wrap{
    padding-top: 100px;
}
header {
    position: fixed;
    background: #333;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.inner-header {
    /* width: 1600px; */
    margin: 0 2rem;
    height: 100px;
}
header .inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}
.gnb {
    width: 800px;
    display: flex;
    height: 100%;
    font-size: 1rem;
}
.gnb>li{
    flex: 1;
}
.gnb>li>a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.lnb{
    display: flex;
    width: 580px;
    justify-content: space-between;
    align-items: center;
}
.sub-menu{
    display: flex;
    gap: 1rem;
}
.sub-menu>li{
    color: #ccc;
    font-size: .8rem;
}
.sub-menu>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-menu{
    display: flex;
    gap: 1rem;
}
.menu-item > a {
    color: #fff;
    text-decoration: none;
}
.mega-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #333;
    padding: 1rem 18rem;
}
header.open .mega-menu {
    display: block;
}
.depth2 {
    display: none;
    /* width: 1600px;
    margin: 0 auto; */
}
.mega-menu .depth2 {
    /* max-width: 1600px; */
    margin: 0 auto;
}
.depth2.active {
    display: block;
}

.depth2 li {
    margin-bottom: .7rem;
}

.depth2 a {
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}
.menu-item > a {
    font-weight: 400;
    /* transition: font-weight .2s ease; */
}

.menu-item > a:hover {
    font-weight: 600;
}

footer h3{
    font-size:1.6rem;
    margin-bottom:1rem;
    padding-top: 1rem;
}


footer{
    height: 725px;
    background-color: #333;
    color: #fff;
}
.inner-footer{
    width: 1440px;
    margin: 0 auto;
}
/* footer1 */
.footer1{
    display:flex;
    /* justify-content:space-between; */
    gap: 8rem;
    margin-bottom:1.5rem;
}

.footer1 .item{
    display:flex;
    gap:1rem;
    align-items:flex-start;
}

.footer1 .title{
    font-weight:600;
    font-size:1.3rem;
    white-space:nowrap;
}

.footer1 .content p{
    font-size: .9rem;
    margin-bottom:.5rem;
    color:#fff;
    font-weight: 300;
}

/* footer2 */

.footer2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:1.5rem;
}
.sns-menu>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2 ul{
    display:flex;
    gap:.5rem;
    font-weight: 300;
}
.footer2 .sns-menu{
    display:flex;
    gap: 1rem;
}

.footer2 ul li::after{
    content:"|";
    margin-left:15px;
    color:#fff;
}

.footer2 ul li:last-child::after{
    display:none;
}

/* sns */

.sns-menu{
    display:flex;
    gap:1rem;
}

.sns-menu li::after{
    display:none;
}

.sns-menu img{
    width:20px;
}


/* 로고 */

.logo-foot{
    margin-bottom:30px;
}

.logo-foot img{
    width:120px;
}


/* footer3 */

.footer3{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:60px;
}


/* 회사 정보 */

.company-info{
    display:flex;
    flex-wrap:wrap;
    max-width:600px;
}

.company-info dt{
    width:120px;
    font-weight:600;
    margin-bottom:8px;
}

.company-info dd{
    width:calc(100% - 120px);
    margin:0 0 8px 0;
}


/* 인증 영역 */

.cert{
    display:flex;
    align-items:flex-end;
    gap:1rem;
    font-size:.6rem;
    border: 1px solid #fff;
}

/* copyright */

footer > p{
    font-size:.8rem;
    color:#fff;
    text-align: center;
    margin-top: 4rem;
}